// Board
.board {
  height: 100%;
  
  &__title {
    font-size: $board-title;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    input {
      display: block;
      width: 100%;
      border: 1px solid transparent;
      outline: none;
      padding: 5px 10px;
      font-size: inherit;

      &:focus {
        border-color: $light-green
      }
    }
  }
  &__title-name {

  }
  &__title-users {

  }
  &__body {
    position: relative;
    height: 100%;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
  }
}