// Column Dnd
.column {
  flex: 1 1 $column-width;
  width: $column-width;
  max-width: $column-width;
  padding: 15px;
  border: 1px solid $column-border;
  background-color: $column-bg;

  &__title {
    font-size: $column-title;
    margin-bottom: 0.5em;
  }
}
