<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if(settings.env === 'development') { %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% } else { %>
      <link rel='stylesheet' href='/stylesheets/style.min.css' />
      <% } %>
</head>

<body>
  <div id="root"></div>
  <script src="/javascripts/main.js"></script>
</body>

</html>