<!DOCTYPE html>
<html>

<head>
  <title>
    React Trello
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if(settings.env === 'development') { %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% } else { %>
      <link rel='stylesheet' href='/stylesheets/style.min.css' />
      <% } %>
</head>

<body>

  <% if(user) { %>
    User is Login
    <% } else { %>
      <form action="/api/user" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" />
        </div>
        <div>
          <input type="submit" value="Log In" />
        </div>
      </form>
      <% } %>

        <div id="root"></div>
        <script src="/javascripts/main.js"></script>
</body>

</html>