// Colors
$light-green: #8bc34a;
$light-blue: #03a9f4;
$light-red: #f44336;
$light-gray: #d8d8d8;

// Nav
$nav-height: 40px;
$nav-bg: $light-blue;
$nav-color: #fff;

// Boards
$board-title: 22px;

// Column
$column-width: 280px;
$column-border: $light-gray;
$column-bg: $light-gray;
$column-title: 18px;

// Card
$card-border: #eee;
$card-bg: #fff;
$card-title: 15px;
$card-desc: 14px;
$btn-add-new-bg: $light-green;

// Erorrs
$erorr-color: $light-red;